/* Inizio Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Fine Common */

/* Inizio Header */
.contenitore {
    width: 80%;
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
}

.riga:after {
    content: "";
    display: table;
    clear: both;
}

.bottone {
    background-color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    color: black;
    padding: 8px 16px;
}

.bottone.bottone-grande {
    padding: 16px 32px;
}

.bottone.bottone-nero {
    background-color: black;
    color: white;
}

header {
    background-color: #255ee9;
    height: 100px;
    line-height: 100px;
}

#login .bottone {
    display: inline;
}

#logo {
    float: left;
    width: 15%;
}

#logo img {
    vertical-align: middle;
}

header nav {
    float: left;
    width: 70%;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline-block;
}

header nav a {
    color: white;
    text-decoration: none;
    margin:  0px 20px;
}

#login {
    float: right;
    width: 15%;
    text-align: right;
}

/* Fine Header */

/* Inizio Jumbotron */

 #jumbotron {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    min-height: 600px;
    height: 500px;
 }

 #jumbotron .contenitore {
    max-width: 780px;
    text-align: center;
 }

 #jumbotron h1 {
    padding-top: 100px;
    margin-bottom: 50px;
    font-size: 2.5em;

 }

 #jumbotron p {
    margin-bottom: 30px;
    
 }

 #jumbotron .contenitore-primo  {
    color: white;
}

 .fas {
    margin-right: 10px;
 }




 .cont {
    padding: 150px 0;
 }

 .sinistra {
    float: left;
    width: 50%;
 }

 .sinistra img {
    width: 100%;
 }

 .destra {
    float: right;
    width: 50%;
 }

 .testo-destra {
    padding: 0 120px;
 }

 .destra h2 {
    margin-bottom: 40px;
    font-size: 2.5em;
 }

 .destra p {
    line-height: 30px;
    font-size: 1.3em;
 }